.DS_Store
.quarto/
/.quarto/
**/*.quarto_ipynb
/teaching/econometrics_undergrad_II/lec*/solution*.html
/teaching/econometrics_undergrad_II/lec*/solution*.qmd
/docs/teaching/econometrics_undergrad_II/lec*/solution*.html
/docs/teaching/econometrics_undergrad_II/lec*/solution*.qmd
